{% comment %}Is this product on sale?{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% comment %}Is this product new?{% endcomment %}
{% assign date_pub_y = product.published_at | date:'%Y' %}
{% assign date_pub_d = product.published_at | date:'%j' %}
{% assign date_now_y = 'now' | date:'%Y' %}
{% assign date_now_d = 'now' | date:'%j' %}
{% assign dates_diff_y = date_now_y | minus: date_pub_y | times: 365 %}
{% assign dates_diff_d = date_now_d | minus: date_pub_d %}
{% assign dates_diff = dates_diff_y | plus: dates_diff_d %}
{% assign new_products_period = settings.new_products_period | plus: 0 %}

<div class="product {% if template == 'index' %}col-sm-3 product_homepage item_{{ forloop.index }}{% else %}col-sm-4 product_collection {% cycle 'step3': 'item3_1', 'item3_2', 'item3_3' %}{% endif %}">
<div class="product_wrapper">
    <div class="product_img">
        <a class="img_change" href="{{ product.url | within: collection }}">
            <span class="product_img_wr">
                <img src="{{ product.featured_image.src | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" />
                <img class="img__2" src="{% for image in product.images limit:1 offset:1 %}{{ image.src | product_img_url: 'large' }}{% endfor %}" alt="{% for image in product.images limit:1 offset:1 %}{{ image.alt | escape }}{% endfor %}" />
            </span>
            {% if dates_diff <= new_products_period %}<span class="product_badge new">New</span>{% endif %}
            {% if on_sale %}
                <span class="product_badge sale">Sale</span>
                <span class="product_badge sale_persent">–{{ product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: '.0' }}%</span>
            {% endif %}
        </a>
    </div>

    <div class="product_info">
        <div class="product_name">
            <a href="{{ product.url | within: collection }}">{{ product.title | truncate:60 }}</a>
        </div>

        <div class="product_price">
            {% if product.price_varies %}From {% endif %}
            <span class="money">{{ product.price | money }}</span>
            {% if on_sale %}
            <span class="money money_sale">{{ product.compare_at_price | money }}</span>
            {% endif %}
        </div>

        <div class="product_desc">{{ product.description | strip_html | truncate: 200 }}</div>

        <div class="product_links">
            {% include "snippet-add-to-cart" %}
            <a class="btn material-icons-info icon" href="{{ product.url | within: collection }}"><span class="text">View</span></a>
            <a class="btn quick_view_btn material-icons-visibility icon" href="{{ product.url }}"><span class="text">Quick view</span></a>
        </div>
    </div>
</div>
</div>