<ul class="cart_summary__methods">
    <li>{% if settings.show_amex %}{{ 'cc-amex.png' | asset_url | img_tag }}{% endif %}</li>
    <li>{% if settings.show_discover %}{{ 'cc-discover.png' | asset_url | img_tag }}{% endif %}</li>
    <li>{% if settings.show_visa %}{{ 'cc-visa.png' | asset_url | img_tag }}{% endif %}</li>
    <li>{% if settings.show_mastercard %}{{ 'cc-mastercard.png' | asset_url | img_tag }}{% endif %}</li>
    <li>{% if settings.show_maestro %}{{ 'cc-maestro.png' | asset_url | img_tag }}{% endif %}</li>
    <li>{% if settings.show_cirrus %}{{ 'cc-cirrus.png' | asset_url | img_tag }}{% endif %}</li>
    <li>{% if settings.show_paypal %}{{ 'cc-paypal.png' | asset_url | img_tag }}{% endif %}</li>
    <li>{% if settings.show_google %}{{ 'cc-google.png' | asset_url | img_tag }}{% endif %}</li>
</ul>