{% layout settings.customer_layout %}

<div class="account_area">
	<div class="account_welcome">
		<h2 class="page_heading">My account <a class="link_logout" href="/account/logout">Logout</a></h2>

		<h3 class="account_welcome__name">Hello, {{ customer.name }}</h3>

		<p class="account_welcome__desc">From your "My Account" page you have the ability to view a snapshot of your recent account activity and update your account information. Select a link below to view or edit information.</p>	
	</div>

	<div class="account_wrapper">
		<div class="account_left">
			<div class="account_section account_info">
				<h4>ACCOUNT INFORMATION</h4>

				<table class="account_table table_info">
					<tr>
						<td>Name</td>
						<td>{{ customer.name }}</td>
					</tr>
					<tr>
						<td>Email</td>
						<td>{{ customer.email }}</td>
					</tr>
					<tr>
						<td>Tags</td>
						<td>{% if customer.tags.size >= 1 %}<span>{{ customer.tags | first }}</span>{% for tag in customer.tags offset:1 %}, <span>{{ tag }}</span>{% endfor %}</p>{% else %}—{% endif %}</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="account_right">
			<div class="account_section account_default">
				<h4>DEFAULT ADDRESS <span><a class="link_edit" href="/account/addresses">Edit</a></span></h4>

				{% if customer.default_address != nil %}
					<p class="address_item address_location">{{ customer.default_address.street }}{% if customer.default_address.city != "" %}, {{ customer.default_address.city }}{% endif %}{% if address.province_code %} ({{ customer.default_address.province_code }}){% endif %}{% if customer.default_address.country != "" %}, {{ customer.default_address.country }}{% endif %}{% if customer.default_address.zip != "" %}, {{ customer.default_address.zip }}{% endif %}</p>
					{% if customer.default_address.phone != "" %}<p class="address_item address_phone">{{ customer.default_address.phone }}</p>{% endif %}
				{% else %}
					<p class="note">You have not set a default address</p>
				{% endif %}

				<p class="address_all">
					<a href="/account/addresses">Manage addresses ({{ customer.addresses_count }})</a>
				</p>
			</div>
		</div>
	</div>

	<div class="account_section account_orders">
		<h4>ORDERS</h4>

		<table class="account_table table_info">
			<tr>
				<td>Total orders</td>
				<td>{{ customer.orders | size }}</td>
			</tr>
			<tr>
				<td>Total spent</td>
				<td><span class="money">{{ customer.total_spent | money }}</span></td>
			</tr>
		</table>

		{% if customer.orders.size != 0 %}
			<div class="table_orders__wrap">
				<table class="account_table table_orders">
					<thead>
						<tr>
							<th>Order</th>
							<th>Date</th>
							<th>Payment status</th>
							<th class="cell_fulfillment">Fulfillment status</th>
							<th class="cell_total">Total</th>
						</tr>
					</thead>
					<tbody>
						{% for order in customer.orders %}
							<tr class="{% if order.cancelled %}order_cancelled{% endif %}">
								<td>{{ order.name | link_to: order.customer_url }}</td>
								<td>{{ order.created_at | date: "%b %d, %Y" }}</td>
								<td>{{ order.financial_status }}</td>
								<td class="cell_fulfillment">{{ order.fulfillment_status }}</td>
								<td class="cell_total"><span class="money">{{ order.total_price | money }}</span></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% else %}
			<p class="note">You haven't placed any orders yet.</p>
		{% endif %}
	</div>
</div>