<div class="cart_page">
	<div id="cart_loader">
		<div class="global_loader"></div>
	</div>

	<h2 class="page_heading">Shopping Cart</h2>

	<div id="cart_content">
		{% if cart.item_count > 0 %}
			<form action="/cart" method="post" class="" class="form-inline">

				<table class="cart_list">
					<thead>
						<tr>
							<th>Product</th>
							<th>Price</th>
							<th>Quantity</th>
							<th>Subtotal</th>
							<th></th>
						</tr>
					</thead>

					<tbody>
						{% for item in cart.items %}
						<tr class="cart_item" data-id="{{ item.id }}">
							<td class="cell_1">
								<div class="cart_item__img">
									<a href="{{ item.product.url | within: collections.all }}">  
										<img src="{{ item | img_url: 'medium' }}"  alt="{{ item.title | escape }}" />
									</a>
								</div>

								<div class="cart_item__info">
									<h3 class="cart_item__name product_name">
										<a href="{{ item.product.url | within: collections.all }}">
											{{ item.product.title }}
										</a>
									</h3>

									{% unless item.variant.title == 'Default Title' %}
										<p class="cart_item__variant">{{ item.variant.title }}</p>
									{% endunless %}

									<div class="cart_item__details">
										<p class="item_type"><span>Product type:</span> {{ item.product.type }}</p>
										<p class="item_vendor"><span>Vendor:</span> {{ item.product.vendor }}</p>
										<p class="item_weight"><span>Weight:</span> {{ item.variant.weight | weight_with_unit: item.variant.weight_unit }}</p>
									</div>

									{% if item.properties.size > 0 %}
										<p class="item_properties">
											{% for p in item.properties %}
												{% unless p.last == blank %}
													{{ p.first }}:
													{% if p.last contains '/uploads/' %}
														<a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
													{% else %}
														{{ p.last }}
													{% endif %}
													<br />
												{% endunless %}
											{% endfor %}
										</p>
									{% endif %}
								</div>
							</td>

							<td class="cell_2 cart_price">
								<span class="money">{{ item.price | money }}</span>
							</td>

							<td class="cell_3">
								<div class="quantity_box">
									<input class="quantity_input" id="updates_{{ item.id }}" name="updates[]" value="{{ item.quantity }}" type="text" />
									<span class="quantity_modifier quantity_down"><i class="fa fa-minus"></i></span>
									<span class="quantity_modifier quantity_up"><i class="fa fa-plus"></i></span>
								</div>

								<div>
									<button class="btn cart_update">Update</button>
								</div>
							</td>

							<td class="cell_4 cart_price">
								<span class="money">{{ item.line_price | money }}</span>
							</td>

							<td class="cell_5">
								<a class="cart_item__remove" title="{{ forloop.index }}" href="#"><i class="fa fa-trash"></i></a>
							</td>
						</tr>
						{% endfor %}
					</tbody>

					<tfoot>
						<tr class="cart_buttons">
							<td colspan="5">
								<a class="btn btn-alt cart_continue" href="/collections">Continue shopping</a>
								<button class="btn cart_update">Update cart</button>
								<a class="btn" id="cart_clear" href="#">Clear cart</a>
								{% comment %}Paypal and Google checkout buttons{% endcomment %}
								{% if additional_checkout_buttons %}
									<p>
										{{ content_for_additional_checkout_buttons }}
									</p>
								{% endif %}
							</td>
						</tr>

						<tr class="cart_summary">
							<td colspan="5">
								<p class="cart_summary__row">Total weight <span>{{ cart.total_weight | weight_with_unit }}</span></p>
								<p class="cart_summary__row">Total price <span class="money">{{ cart.total_price | money }}</span></p>
								<p class="alert alert-warning cart_summary__notification">
									<b>{{ shop.name }}</b> process all orders in {{ shop.currency }}. While the content of your cart is currently displayed in <span class="selected-currency"></span>, you will checkout using {{ shop.currency }} at the most current exchange rate.
								</p>
								<p class="cart_summary__instructions">
									<label>Special instructions for seller</label>
									<textarea class="form-control" name="note">{{ cart.note }}</textarea>
								</p>
								<div class="cart_summary__checkout">
									{% include 'widget-payment-methods' %}
									<button type="submit" name="checkout" class="btn">Proceed to checkout</button>
								</div>
							</td>
						</tr>

					</tfoot>
				</table>
			</form>
		{% else %}
			<div class="cart_empty">
				<p class="alert alert-warning">It appears that your cart is currently empty</p>

				<h3><a href="/collections">Browse collections</a> to find the products you are interested</h3>
			</div>
		{% endif %}

	</div>
</div>